@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #fffffe;

  --dark-default: #0f221d;
  --dark-dark: #041d17;

  --text-default: #fffffe;
  --text-info: #9e9e9e;
  --text-active: #08fdd8;
  --text-muted: #909096;
}

/* @media (prefers-color-scheme: dark) {
} */

body {
  font-family: var(--font-noto-sans-tc), var(--font-roboto), sans-serif;
  color: var(--foreground);
  background: var(--dark-default);
}
